<a href="https://colab.research.google.com/github/MarionW18/Wids-Datathon-2025/blob/master/ricmwasdata-notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#check my environment if it is loacal or kaggle
import os

def check_environment():
    # Check for a Kaggle-specific environment variable
    if 'KAGGLE_URL_BASE' in os.environ:
        print("Running on Kaggle.")
        return "kaggle"
    else:
        print("Running locally.")
        return "local"

env = check_environment()

# Set the path based on the detected environment
if env == "kaggle":
    base_path ="/kaggle/input/widsdatathon2025/"
else:
    base_path = "Data/"

print("Base path is set to:", base_path)

Running on Kaggle.
Base path is set to: /kaggle/input/widsdatathon2025/

In [ ]:
env

'kaggle'

In [ ]:
#!mkdir Data/TRAIN_OLD

In [ ]:
#This is my personal notebooks
import numpy as np # linear algebra
import pandas as pd # data processing

In [ ]:
#list
#string
#integer
#Dataframe
#/kaggle/input/widsdatathon2025/TRAIN/TRAIN_CATEGORICAL_METADATA.xlsx
#C:\Users\Ricmwas\Documents\python_projects\Wids-Datathon-2025\Data\TRAIN\TRAIN_CATEGORICAL_METADATA.xlsx

In [ ]:
# if env =="kaggle":
#     !pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (2.0.0)

In [ ]:
# train solution
#/kaggle/input/widsdatathon2025/TRAIN_NEW/TRAINING_SOLUTIONS.xlsx
training_combined= pd.read_excel(base_path+'TRAIN_OLD/TRAINING_SOLUTIONS.xlsx', sheet_name='training_combined')
training_combined.head()

  participant_id  ADHD_Outcome  Sex_F
0   UmrK0vMLopoR             1      1
1   CPaeQkhcjg7d             1      0
2   Nb4EetVPm3gs             1      0
3   p4vPhVu91o4b             1      1
4   M09PXs7arQ5E             1      1

In [ ]:
#Read data
train_categorical= pd.read_excel(base_path+'TRAIN_OLD/TRAIN_CATEGORICAL_METADATA.xlsx', sheet_name="training_combined")
train_categorical.head()

,participant_id,Basic_Demos_Enroll_Year,Basic_Demos_Study_Site,PreInt_Demos_Fam_Child_Ethnicity,PreInt_Demos_Fam_Child_Race,MRI_Track_Scan_Location,Barratt_Barratt_P1_Edu,Barratt_Barratt_P1_Occ,Barratt_Barratt_P2_Edu,Barratt_Barratt_P2_Occ
0,UmrK0vMLopoR,2016,1,0.0,0,1,21,45,21,45
1,CPaeQkhcjg7d,2019,3,1.0,2,3,15,15,0,0
2,Nb4EetVPm3gs,2016,1,1.0,8,1,18,40,0,0
3,p4vPhVu91o4b,2018,3,0.0,8,3,15,30,18,0
4,M09PXs7arQ5E,2019,3,0.0,1,3,15,20,0,0

In [ ]:
train_categorical.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   participant_id                    1213 non-null   object
 1   Basic_Demos_Enroll_Year           1213 non-null   int64
 2   Basic_Demos_Study_Site            1213 non-null   int64
 3   PreInt_Demos_Fam_Child_Ethnicity  1202 non-null   float64
 4   PreInt_Demos_Fam_Child_Race       1213 non-null   int64
 5   MRI_Track_Scan_Location           1213 non-null   int64
 6   Barratt_Barratt_P1_Edu            1213 non-null   int64
 7   Barratt_Barratt_P1_Occ            1213 non-null   int64
 8   Barratt_Barratt_P2_Edu            1213 non-null   int64
 9   Barratt_Barratt_P2_Occ            1213 non-null   int64
dtypes: float64(1), int64(8), object(1)
memory usage: 94.9+ KB

In [ ]:
train_quantitative= pd.read_excel(base_path+'TRAIN_OLD/TRAIN_QUANTITATIVE_METADATA.xlsx',
                                 sheet_name= "training_combined")
train_quantitative.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,participant_id,EHQ_EHQ_Total,ColorVision_CV_Score,APQ_P_APQ_P_CP,APQ_P_APQ_P_ID,APQ_P_APQ_P_INV,APQ_P_APQ_P_OPD,APQ_P_APQ_P_PM,APQ_P_APQ_P_PP,SDQ_SDQ_Conduct_Problems,SDQ_SDQ_Difficulties_Total,SDQ_SDQ_Emotional_Problems,SDQ_SDQ_Externalizing,SDQ_SDQ_Generating_Impact,SDQ_SDQ_Hyperactivity,SDQ_SDQ_Internalizing,SDQ_SDQ_Peer_Problems,SDQ_SDQ_Prosocial,MRI_Track_Age_at_Scan
0,UmrK0vMLopoR,40.00,13,3,10,47,13,11,28,0,6,1,5,0,5,1,0,10,NaN
1,CPaeQkhcjg7d,-94.47,14,3,13,34,18,23,30,0,18,6,8,7,8,10,4,5,NaN
2,Nb4EetVPm3gs,-46.67,14,4,10,35,16,10,29,1,14,2,8,5,7,6,4,9,8.239904
3,p4vPhVu91o4b,-26.68,10,5,12,39,19,16,28,6,24,4,16,9,10,8,4,6,NaN
4,M09PXs7arQ5E,0.00,14,5,15,40,20,24,28,1,18,4,11,4,10,7,3,9,8.940679

In [ ]:
train_quantitative.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Data columns (total 19 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   participant_id              1213 non-null   object
 1   EHQ_EHQ_Total               1213 non-null   float64
 2   ColorVision_CV_Score        1213 non-null   int64
 3   APQ_P_APQ_P_CP              1213 non-null   int64
 4   APQ_P_APQ_P_ID              1213 non-null   int64
 5   APQ_P_APQ_P_INV             1213 non-null   int64
 6   APQ_P_APQ_P_OPD             1213 non-null   int64
 7   APQ_P_APQ_P_PM              1213 non-null   int64
 8   APQ_P_APQ_P_PP              1213 non-null   int64
 9   SDQ_SDQ_Conduct_Problems    1213 non-null   int64
 10  SDQ_SDQ_Difficulties_Total  1213 non-null   int64
 11  SDQ_SDQ_Emotional_Problems  1213 non-null   int64
 12  SDQ_SDQ_Externalizing       1213 non-null   int64
 13  SDQ_SDQ_Generating_Impact   1213 non-null   int64
 14  SDQ_SDQ_Hyperactivity       1213 non-null   int64
 15  SDQ_SDQ_Internalizing       1213 non-null   int64
 16  SDQ_SDQ_Peer_Problems       1213 non-null   int64
 17  SDQ_SDQ_Prosocial           1213 non-null   int64
 18  MRI_Track_Age_at_Scan       853 non-null    float64
dtypes: float64(2), int64(16), object(1)
memory usage: 180.2+ KB

In [ ]:
train_functional= pd.read_csv(base_path+'TRAIN_OLD/TRAIN_FUNCTIONAL_CONNECTOME_MATRICES.csv')
train_functional.head()

,participant_id,0throw_1thcolumn,0throw_2thcolumn,0throw_3thcolumn,0throw_4thcolumn,0throw_5thcolumn,0throw_6thcolumn,0throw_7thcolumn,0throw_8thcolumn,0throw_9thcolumn,...,195throw_196thcolumn,195throw_197thcolumn,195throw_198thcolumn,195throw_199thcolumn,196throw_197thcolumn,196throw_198thcolumn,196throw_199thcolumn,197throw_198thcolumn,197throw_199thcolumn,198throw_199thcolumn
0,70z8Q2xdTXM3,0.093473,0.146902,0.067893,0.015141,0.070221,0.063997,0.055382,-0.035335,0.068583,...,0.003404,-0.010359,-0.050968,-0.014365,0.128066,0.112646,-0.058980,0.028228,0.133582,0.143372
1,WHWymJu6zNZi,0.029580,0.179323,0.112933,0.038291,0.104899,0.064250,0.008488,0.077505,-0.004750,...,-0.008409,-0.008479,0.020891,0.017754,0.094040,0.035141,0.032537,0.075007,0.115350,0.138200
2,4PAQp1M6EyAo,-0.051580,0.139734,0.068295,0.046991,0.111085,0.026978,0.151377,0.021198,0.083721,...,0.053245,-0.028003,0.028773,0.024556,0.166343,0.058925,0.035485,0.063661,0.042862,0.162162
3,obEacy4Of68I,0.016273,0.204702,0.115980,0.043103,0.056431,0.057615,0.055773,0.075030,0.001033,...,-0.023918,-0.005356,0.018607,0.016193,0.072955,0.130135,0.056120,0.084784,0.114148,0.190584
4,s7WzzDcmDOhF,0.065771,0.098714,0.097604,0.112988,0.071139,0.085607,0.019392,-0.036403,-0.020375,...,0.066439,-0.076680,-0.047530,-0.031443,0.221213,0.007343,0.005763,0.083820,0.079582,0.067269

In [ ]:
train_functional.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1213 entries, 0 to 1212
Columns: 19901 entries, participant_id to 198throw_199thcolumn
dtypes: float64(19900), object(1)
memory usage: 184.2+ MB

In [ ]:
melt_df=pd.melt(train_functional, id_vars=['participant_id'], value_vars=train_functional.columns[1:], var_name="CONNECTOME_MATRICES", value_name="value")
melt_df.head()

  participant_id CONNECTOME_MATRICES     value
0   70z8Q2xdTXM3    0throw_1thcolumn  0.093473
1   WHWymJu6zNZi    0throw_1thcolumn  0.029580
2   4PAQp1M6EyAo    0throw_1thcolumn -0.051580
3   obEacy4Of68I    0throw_1thcolumn  0.016273
4   s7WzzDcmDOhF    0throw_1thcolumn  0.065771

# Merge Data a
training_combined <--- train_categorical <---train_quantitative <--- training_functional

In [ ]:
first_merge= pd.merge(train_functional, train_quantitative, on="participant_id", how="inner")
first_merge.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,participant_id,0throw_1thcolumn,0throw_2thcolumn,0throw_3thcolumn,0throw_4thcolumn,0throw_5thcolumn,0throw_6thcolumn,0throw_7thcolumn,0throw_8thcolumn,0throw_9thcolumn,...,SDQ_SDQ_Conduct_Problems,SDQ_SDQ_Difficulties_Total,SDQ_SDQ_Emotional_Problems,SDQ_SDQ_Externalizing,SDQ_SDQ_Generating_Impact,SDQ_SDQ_Hyperactivity,SDQ_SDQ_Internalizing,SDQ_SDQ_Peer_Problems,SDQ_SDQ_Prosocial,MRI_Track_Age_at_Scan
0,70z8Q2xdTXM3,0.093473,0.146902,0.067893,0.015141,0.070221,0.063997,0.055382,-0.035335,0.068583,...,0,8,1,4,5,4,4,3,9,11.889002
1,WHWymJu6zNZi,0.029580,0.179323,0.112933,0.038291,0.104899,0.064250,0.008488,0.077505,-0.004750,...,0,0,0,0,0,0,0,0,0,7.670088
2,4PAQp1M6EyAo,-0.051580,0.139734,0.068295,0.046991,0.111085,0.026978,0.151377,0.021198,0.083721,...,8,26,4,17,8,9,9,5,8,7.743896
3,obEacy4Of68I,0.016273,0.204702,0.115980,0.043103,0.056431,0.057615,0.055773,0.075030,0.001033,...,0,7,2,4,1,4,3,1,10,NaN
4,s7WzzDcmDOhF,0.065771,0.098714,0.097604,0.112988,0.071139,0.085607,0.019392,-0.036403,-0.020375,...,3,14,3,6,3,3,8,5,6,NaN

In [ ]:
second_merge= pd.merge(first_merge, train_categorical, on="participant_id", how="inner")
second_merge.head()

/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.10/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,participant_id,0throw_1thcolumn,0throw_2thcolumn,0throw_3thcolumn,0throw_4thcolumn,0throw_5thcolumn,0throw_6thcolumn,0throw_7thcolumn,0throw_8thcolumn,0throw_9thcolumn,...,MRI_Track_Age_at_Scan,Basic_Demos_Enroll_Year,Basic_Demos_Study_Site,PreInt_Demos_Fam_Child_Ethnicity,PreInt_Demos_Fam_Child_Race,MRI_Track_Scan_Location,Barratt_Barratt_P1_Edu,Barratt_Barratt_P1_Occ,Barratt_Barratt_P2_Edu,Barratt_Barratt_P2_Occ
0,70z8Q2xdTXM3,0.093473,0.146902,0.067893,0.015141,0.070221,0.063997,0.055382,-0.035335,0.068583,...,11.889002,2018,1,0.0,1,2,21,45,21,45
1,WHWymJu6zNZi,0.029580,0.179323,0.112933,0.038291,0.104899,0.064250,0.008488,0.077505,-0.004750,...,7.670088,2015,1,1.0,8,1,6,5,0,15
2,4PAQp1M6EyAo,-0.051580,0.139734,0.068295,0.046991,0.111085,0.026978,0.151377,0.021198,0.083721,...,7.743896,2019,1,0.0,0,2,18,35,9,20
3,obEacy4Of68I,0.016273,0.204702,0.115980,0.043103,0.056431,0.057615,0.055773,0.075030,0.001033,...,NaN,2017,1,0.0,0,2,21,40,21,40
4,s7WzzDcmDOhF,0.065771,0.098714,0.097604,0.112988,0.071139,0.085607,0.019392,-0.036403,-0.020375,...,NaN,2019,1,2.0,8,2,9,35,0,0

In [ ]:
final_merge= pd.merge(second_merge, training_combined, on="participant_id", how="inner")
final_merge.head()

,participant_id,0throw_1thcolumn,0throw_2thcolumn,0throw_3thcolumn,0throw_4thcolumn,0throw_5thcolumn,0throw_6thcolumn,0throw_7thcolumn,0throw_8thcolumn,0throw_9thcolumn,...,Basic_Demos_Study_Site,PreInt_Demos_Fam_Child_Ethnicity,PreInt_Demos_Fam_Child_Race,MRI_Track_Scan_Location,Barratt_Barratt_P1_Edu,Barratt_Barratt_P1_Occ,Barratt_Barratt_P2_Edu,Barratt_Barratt_P2_Occ,ADHD_Outcome,Sex_F
0,70z8Q2xdTXM3,0.093473,0.146902,0.067893,0.015141,0.070221,0.063997,0.055382,-0.035335,0.068583,...,1,0.0,1,2,21,45,21,45,1,0
1,WHWymJu6zNZi,0.029580,0.179323,0.112933,0.038291,0.104899,0.064250,0.008488,0.077505,-0.004750,...,1,1.0,8,1,6,5,0,15,1,1
2,4PAQp1M6EyAo,-0.051580,0.139734,0.068295,0.046991,0.111085,0.026978,0.151377,0.021198,0.083721,...,1,0.0,0,2,18,35,9,20,1,1
3,obEacy4Of68I,0.016273,0.204702,0.115980,0.043103,0.056431,0.057615,0.055773,0.075030,0.001033,...,1,0.0,0,2,21,40,21,40,1,1
4,s7WzzDcmDOhF,0.065771,0.098714,0.097604,0.112988,0.071139,0.085607,0.019392,-0.036403,-0.020375,...,1,2.0,8,2,9,35,0,0,1,1

In [ ]:
final_merge.drop(columns=["participant_id"], inplace=True)
final_merge.head()

,0throw_1thcolumn,0throw_2thcolumn,0throw_3thcolumn,0throw_4thcolumn,0throw_5thcolumn,0throw_6thcolumn,0throw_7thcolumn,0throw_8thcolumn,0throw_9thcolumn,0throw_10thcolumn,...,Basic_Demos_Study_Site,PreInt_Demos_Fam_Child_Ethnicity,PreInt_Demos_Fam_Child_Race,MRI_Track_Scan_Location,Barratt_Barratt_P1_Edu,Barratt_Barratt_P1_Occ,Barratt_Barratt_P2_Edu,Barratt_Barratt_P2_Occ,ADHD_Outcome,Sex_F
0,0.093473,0.146902,0.067893,0.015141,0.070221,0.063997,0.055382,-0.035335,0.068583,0.029271,...,1,0.0,1,2,21,45,21,45,1,0
1,0.029580,0.179323,0.112933,0.038291,0.104899,0.064250,0.008488,0.077505,-0.004750,-0.035073,...,1,1.0,8,1,6,5,0,15,1,1
2,-0.051580,0.139734,0.068295,0.046991,0.111085,0.026978,0.151377,0.021198,0.083721,-0.014275,...,1,0.0,0,2,18,35,9,20,1,1
3,0.016273,0.204702,0.115980,0.043103,0.056431,0.057615,0.055773,0.075030,0.001033,-0.064031,...,1,0.0,0,2,21,40,21,40,1,1
4,0.065771,0.098714,0.097604,0.112988,0.071139,0.085607,0.019392,-0.036403,-0.020375,0.005426,...,1,2.0,8,2,9,35,0,0,1,1

In [ ]:
final_merge.dropna(inplace=True)
final_merge.head()

,0throw_1thcolumn,0throw_2thcolumn,0throw_3thcolumn,0throw_4thcolumn,0throw_5thcolumn,0throw_6thcolumn,0throw_7thcolumn,0throw_8thcolumn,0throw_9thcolumn,0throw_10thcolumn,...,Basic_Demos_Study_Site,PreInt_Demos_Fam_Child_Ethnicity,PreInt_Demos_Fam_Child_Race,MRI_Track_Scan_Location,Barratt_Barratt_P1_Edu,Barratt_Barratt_P1_Occ,Barratt_Barratt_P2_Edu,Barratt_Barratt_P2_Occ,ADHD_Outcome,Sex_F
0,0.093473,0.146902,0.067893,0.015141,0.070221,0.063997,0.055382,-0.035335,0.068583,0.029271,...,1,0.0,1,2,21,45,21,45,1,0
1,0.029580,0.179323,0.112933,0.038291,0.104899,0.064250,0.008488,0.077505,-0.004750,-0.035073,...,1,1.0,8,1,6,5,0,15,1,1
2,-0.051580,0.139734,0.068295,0.046991,0.111085,0.026978,0.151377,0.021198,0.083721,-0.014275,...,1,0.0,0,2,18,35,9,20,1,1
6,0.045489,0.080887,0.073523,0.051792,0.024821,0.083677,0.094708,-0.140014,0.082289,-0.018601,...,1,0.0,1,1,18,25,12,20,0,0
7,0.063175,0.043360,0.096523,0.070671,0.126199,0.048935,0.099142,0.081876,-0.052236,0.043440,...,1,1.0,0,1,21,40,12,20,1,0

In [ ]:
# if env =="kaggle":
#   !pip install cudf-cu11

In [ ]:
if env =="kaggle":
    #!pip install cudf-cu11    
    # kaggle setting= accelerator= GPU T4 X 2 
    import cudf
    # Convert pandas DataFrame to cuDF
    cudf_df = cudf.DataFrame.from_pandas(final_merge)

    # Compute correlation on GPU
    gpu_corr = cudf_df.corr()
    del cudf_df
    # Convert back to pandas if needed
    corr_matrix = gpu_corr.to_pandas()
    # Set a threshold for high correlation
    threshold = 0.8

    # Create a boolean mask for the upper triangle of the correlation matrix (excluding the diagonal)
    mask = np.triu(np.ones(corr_matrix.shape, dtype=bool), k=1)

    # Find indices where the absolute correlation is above the threshold in the upper triangle
    high_corr_indices = np.where((np.abs(corr_matrix.values) > threshold) & mask)

    # Extract the variable names and correlation values for these pairs
    high_corr_pairs = [
        (corr_matrix.columns[i], corr_matrix.columns[j], corr_matrix.values[i, j])
        for i, j in zip(*high_corr_indices)
    ]

    # Convert to a DataFrame for better readability
    high_corr_df = pd.DataFrame(high_corr_pairs, columns=["Variable 1", "Variable 2", "Correlation"])

    # Display the highly correlated pairs
    print("Highly Correlated Variables:")
    print(high_corr_df)
else:
    print("Not running on Kaggle, skipping GPU correlation analysis")

In [ ]:
# del training_combined, train_categorical, train_quantitative, train_functional, first_merge, second_merge,melt_df

Highly Correlated Variables:
                   Variable 1             Variable 2  Correlation
0    SDQ_SDQ_Conduct_Problems  SDQ_SDQ_Externalizing     0.803176
1  SDQ_SDQ_Difficulties_Total  SDQ_SDQ_Externalizing     0.889388
2  SDQ_SDQ_Difficulties_Total  SDQ_SDQ_Internalizing     0.837009
3  SDQ_SDQ_Emotional_Problems  SDQ_SDQ_Internalizing     0.837526
4       SDQ_SDQ_Externalizing  SDQ_SDQ_Hyperactivity     0.901534
5       SDQ_SDQ_Internalizing  SDQ_SDQ_Peer_Problems     0.829422

this part was added on collab